@model IEnumerable<Entities.Admin.Category>
<h2>PRODUCTPROPERTY</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatorUserID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentCategoryID)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatorUserID)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new {  id=item.CategoryID }) |

                @Html.ActionLink("Delete", "Delete", new {  id=item.CategoryID }) |

            </td>
        </tr>
    }

</table>